*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_calculator__input_value {
  width: 50%;
  /*Using calc to fix padding issue
  just  remove  the sum of padding and margin
  */
  height: calc(100% - 2.5rem - 2.5rem);
  margin: auto;
}

.input_value__main {
  box-sizing: border-box;
  /*Using calc to fix padding issue*/
  width: calc(100% - 2rem - 2rem);
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}
.input_value__bill,
.input_value__tip,
.input_value__people {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.bill__title,
.tip__title,
.people__title {
  font-size: 0.9rem;
  color: var(--dark-cyan);
}

.people__title {
  display: flex;
  justify-content: space-between;
}
.people__title span {
  color: tomato;
}

.bill__input_main,
.people__input_main {
  display: flex;
  justify-content: space-between;
  background-color: var(--very-light-grayish-cyan);
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.bill__input_dollar p,
.people__input_dollar p {
  font-size: 1.2rem;
  color: var(--dark-grayish-cyan);
}

.bill__input_dollar input,
.people__input_dollar input {
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  text-align: right;
  color: var(--very-dark-cyan);
  font-weight: 700;
  border: none;
  outline: none;
  background-color: transparent;
  padding-right: 0.5rem;
}

.tip__select input {
  font-family: var(--ff-primary);
  background-color: var(--very-light-grayish-cyan);
  padding-right: 0.5rem;
}

.tip__select {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.9rem;
}

.tip__select--radio {
  display: none;
}
.tip__select--label,
.tip__select--input {
  grid-column: span 1;
}
.tip__select--input {
  max-width: 7rem;
  font-size: 1.5rem;
  text-align: right;
  color: var(--very-dark-cyan);
  font-weight: 700;
  border: none;
  outline: none;
  background-color: transparent;
}
.tip__select--input::placeholder {
  max-width: 7rem;
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  text-align: right;
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  border: none;
  outline: none;
  background-color: transparent;
}

.people__input_dollar ::placeholder,
.bill__input_dollar input::placeholder {
  color: var(--dark-grayish-cyan);
}

.tip__select--label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: var(--ff-primary);
  color: var(--very-light-grayish-cyan);
  background-color: var(--very-dark-cyan);
  border: none;
  border-radius: 0.25rem;
  padding: 0.35rem 0;
  transition: var(--transition-4s);
}
.tip__select--label:hover {
  cursor: pointer;
  color: var(--very-dark-cyan);
  background-color: hsla(172, 67%, 45%, 0.888);
}
