.main_calculator__result {
  width: calc(50% - 0.5rem - 0.5rem);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: calc(100% - 2.5rem - 2.5rem);
  margin: auto;
}

.result__main {
  box-sizing: border-box;
  width: calc(100% - 0.5rem - 0.5rem - 0.5rem - 0.5rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-left: 0;
  background-color: var(--result-background);
  border-radius: 1rem;
}

.result__amount,
.result__total,
.result__button {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount__title,
.total__title {
  display: flex;
  flex-direction: column;
}
.amount__title p,
.total__title p {
  font-size: 1.1rem;
  color: var(--result-p);
}
.amount__title span,
.total__title span {
  font-size: 0.9rem;
  color: var(--result-span);
}

.amount__figure h3,
.total__figure h3 {
  font-size: 3.5rem;
  color: var(--result-h3);
  letter-spacing: -2px;
}

.result__button {
  display: flex;
  justify-content: center;
}

.result__button button {
  width: calc(100%);
  padding: 1rem;
  background-color: var(--result-btn);
  color: var(--result-background);
  border: none;
  opacity: 0.3;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-weight: 700;
  transition: var(--transition-4s);
}
.result__button button:hover {
  cursor: pointer;
  opacity: 0.99;
  color: var(--result-background);
}
