:root {
  --primary-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --ff-primary: "Space Mono", monospace;
  --fs-primary: 1.5rem;
  --transition-4s: ease-in-out all 0.4s;
}

.app {
  width: min(95%, 65rem);
  display: grid;
  grid-auto-flow: row;
}
.grid,
.grid-mb {
  width: 100%;
  height: 3rem;
}

.app__header {
  width: clamp(90%, 2+5, 60rem);
  margin: auto;
}

.header__title {
  font-family: var(--ff-primary);
  color: var(--dark-cyan);
  display: flex;
  flex-direction: column;
  font-size: var(--fs-primary);
  line-height: 1.5;
  letter-spacing: 0.5rem;
}
